## 時系列関連の pandas の主なデータ型

<table>
    <thead>
        <tr>
            <th>データ型</th>
            <th>説明</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><m-b>Timestamp</m-b></td>
            <td>タイムゾーン付きの日時データ型</td>
        </tr>
        <tr>
            <td><m-b>Period</m-b></td>
            <td>時間の長さ・期間を扱うデータ型</td>
        </tr>
        <tr>
            <td><m-b>Timedelta</m-b></td>
            <td>時間差を扱うデータ型</td>
        </tr>
        <tr>
            <td><m-b>DateOffset</m-b></td>
            <td>オフセットを扱うデータ型</td>
        </tr>
    </tbody>
</table>

In [22]:
# Timestamp
from IPython.display import display
import datetime
import pandas as pd

display(pd.Timestamp(datetime.datetime(2025, 2, 1, 12, 23, 34)))
display(pd.Timestamp(datetime.datetime(2025, 2, 1, 12)))
display(pd.Timestamp(datetime.date(2025, 1, 1)))
display(pd.Timestamp("2025-03-01 12:23:34"))
display(pd.Timestamp("2025/04/30T12:23:00"))
display(pd.Timestamp("2025/5/1 23"))
display(pd.Timestamp(2025, 6, 27, 9))
display(pd.Timestamp(year=2025, month=6, day=27, hour=9, minute=11, second=19, microsecond=123456))

Timestamp('2025-02-01 12:23:34')

Timestamp('2025-02-01 12:00:00')

Timestamp('2025-01-01 00:00:00')

Timestamp('2025-03-01 12:23:34')

Timestamp('2025-04-30 12:23:00')

Timestamp('2025-05-01 23:00:00')

Timestamp('2025-06-27 09:00:00')

Timestamp('2025-06-27 09:11:19.123456')

In [18]:
display(pd.Timestamp("2025/03/01 25"))

DateParseError: hour must be in 0..23: 2025/03/01 25

In [19]:
display(pd.Timestamp("2025/03/32 23"))

DateParseError: day is out of range for month: 2025/03/32 23

In [24]:
# Period
period = pd.Period("3Q2025")
period

Period('2025Q3', 'Q-DEC')

In [25]:
period.start_time, period.end_time

(Timestamp('2025-07-01 00:00:00'), Timestamp('2025-09-30 23:59:59.999999999'))

In [28]:
period.year, period.month, period.day

(2025, 9, 30)

In [29]:
period.to_timestamp()

Timestamp('2025-07-01 00:00:00')

In [30]:
period.to_timestamp(how="end")

Timestamp('2025-09-30 23:59:59.999999999')

In [33]:
pd.Timestamp(2025, 11, 11).to_period(freq="Q")

Period('2025Q4', 'Q-DEC')

In [34]:
pd.Timestamp(2025, 11, 11).to_period(freq="Y")

Period('2025', 'Y-DEC')

In [35]:
pd.Timestamp(2025, 11, 11).to_period(freq="M")

Period('2025-11', 'M')

In [36]:
pd.Timestamp(2025, 11, 11).to_period(freq="D")

Period('2025-11-11', 'D')

In [39]:
pd.Timestamp(2025, 11, 11).to_period(freq="W")

Period('2025-11-10/2025-11-16', 'W-SUN')

In [40]:
# DataOffset
pd.Timestamp("2025-01-01") + pd.DateOffset(weeks=2)

Timestamp('2025-01-15 00:00:00')

In [42]:
pd.Timestamp(2024, 7, 12) + pd.tseries.offsets.YearBegin()

Timestamp('2025-01-01 00:00:00')

In [43]:
pd.Timestamp(2024, 7, 12) + pd.tseries.offsets.YearEnd()

Timestamp('2024-12-31 00:00:00')

In [47]:
pd.date_range(
    "2025-01-01",
    periods=12,
    freq=pd.tseries.offsets.MonthEnd(),
)

DatetimeIndex(['2025-01-31', '2025-02-28', '2025-03-31', '2025-04-30',
               '2025-05-31', '2025-06-30', '2025-07-31', '2025-08-31',
               '2025-09-30', '2025-10-31', '2025-11-30', '2025-12-31'],
              dtype='datetime64[ns]', freq='ME')

In [46]:
pd.date_range(
    "2025-01-01",
    periods=12,
    freq=pd.tseries.offsets.BusinessMonthEnd(),
)

DatetimeIndex(['2025-01-31', '2025-02-28', '2025-03-31', '2025-04-30',
               '2025-05-30', '2025-06-30', '2025-07-31', '2025-08-29',
               '2025-09-30', '2025-10-31', '2025-11-28', '2025-12-31'],
              dtype='datetime64[ns]', freq='BME')

In [56]:
pd.date_range(
    "2025-01-01",
    periods=20,
    freq="B",
)

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-06',
               '2025-01-07', '2025-01-08', '2025-01-09', '2025-01-10',
               '2025-01-13', '2025-01-14', '2025-01-15', '2025-01-16',
               '2025-01-17', '2025-01-20', '2025-01-21', '2025-01-22',
               '2025-01-23', '2025-01-24', '2025-01-27', '2025-01-28'],
              dtype='datetime64[ns]', freq='B')

## 主要なDateOffset
<table>
    <thead>
        <tr>
            <th>DateOffset</th>
            <th>エイリアス</th>
            <th>概要</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><m-b>BDay</m-b>、<m-b>businessDay</m-b></td>
            <td><m-b>B</m-b></td>
            <td>営業日(月-金)</td>
        </tr>
        <tr>
            <td><m-b>Week</m-b></td>
            <td><m-b>W</m-b></td>
            <td>週(月曜日が初週)</td>
        </tr>
        <tr>
            <td><m-b>MonthEnd</m-b></td>
            <td><m-b>M</m-b></td>
            <td>月末</td>
        </tr>
        <tr>
            <td><m-b>MonthBegin</m-b></td>
            <td><m-b>MS</m-b></td>
            <td>月初</td>
        </tr>
        <tr>
            <td><m-b>YearEnd</m-b></td>
            <td><m-b>A</m-b></td>
            <td>年末</td>
        </tr>
        <tr>
            <td><m-b>YearBegin</m-b></td>
            <td><m-b>AS</m-b>、<m-b>BYS</td>
            <td>年初</td>
        </tr>
        <tr>
            <td><m-b>Day</m-b></td>
            <td><m-b>D</m-b></td>
            <td>日</td>
        </tr>
        <tr>
            <td><m-b>Hour</m-b></td>
            <td><m-b>H</m-b></td>
            <td>時</td>
        </tr>
    </tbody>
</table>

In [54]:
offsets = pd.tseries.offsets

for e in [
    offsets.BaseOffset,
    offsets.BusinessDay,
    offsets.Week,
    offsets.MonthEnd,
    offsets.MonthBegin,
    offsets.YearEnd,
    offsets.YearBegin,
    offsets.Day,
    offsets.Hour,
    offsets.Minute,
    offsets.Second,
    offsets.Milli,
    offsets.BYearBegin,
    offsets.BQuarterBegin,
    offsets.FY5253,
]:
    print(e().freqstr)

<BaseOffset>
B
W
ME
MS
YE-DEC
YS-JAN
D
h
min
s
ms
BYS-JAN
BQS-MAR
RE-N-JAN-MON