In [1]:
import pandas as pd

ser = pd.Series(pd.date_range("2025-03-01", periods=10))
ser

0   2025-03-01
1   2025-03-02
2   2025-03-03
3   2025-03-04
4   2025-03-05
5   2025-03-06
6   2025-03-07
7   2025-03-08
8   2025-03-09
9   2025-03-10
dtype: datetime64[ns]

In [2]:
ser.dt

In [3]:
ser.dt.day

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int32

In [4]:
ser.dt.day_name()

0     Saturday
1       Sunday
2       Monday
3      Tuesday
4    Wednesday
5     Thursday
6       Friday
7     Saturday
8       Sunday
9       Monday
dtype: object

In [5]:
ser = pd.Series(pd.timedelta_range("1D", periods=10, freq="1min"))
ser

0   1 days 00:00:00
1   1 days 00:01:00
2   1 days 00:02:00
3   1 days 00:03:00
4   1 days 00:04:00
5   1 days 00:05:00
6   1 days 00:06:00
7   1 days 00:07:00
8   1 days 00:08:00
9   1 days 00:09:00
dtype: timedelta64[ns]

In [6]:
ser.dt.seconds

0      0
1     60
2    120
3    180
4    240
5    300
6    360
7    420
8    480
9    540
dtype: int32

In [7]:
ser.dt.components

   days  hours  minutes  seconds  milliseconds  microseconds  nanoseconds
0     1      0        0        0             0             0            0
1     1      0        1        0             0             0            0
2     1      0        2        0             0             0            0
3     1      0        3        0             0             0            0
4     1      0        4        0             0             0            0
5     1      0        5        0             0             0            0
6     1      0        6        0             0             0            0
7     1      0        7        0             0             0            0
8     1      0        8        0             0             0            0
9     1      0        9        0             0             0            0