In [2]:
# 重複の有無の確認
import pandas as pd

df = pd.read_parquet("../result/penguins.parquet")
df_adelie = df.loc[df.loc[:, "Species_Short"] == "Adelie"]
df_adelie.shape

(152, 11)

In [3]:
df_adelie.nunique(dropna=False)

Species             1
Island              3
Individual_ID     132
Date_Egg           33
Culmen_Length      79
Culmen_Depth       50
Flipper_Length     33
Body_Mass          56
Sex                 3
Comments            8
Species_Short       1
dtype: int64

In [4]:
df_adelie.duplicated().sum()

np.int64(0)

In [7]:
df_adelie.duplicated(subset=["Individual_ID"]).sum()

np.int64(20)

In [33]:
df_adelie.loc[:, "Individual_ID"].duplicated(keep=False).loc[30:35]

30    True
31    True
32    True
33    True
34    True
35    True
Name: Individual_ID, dtype: bool

In [31]:
df_adelie.loc[:, "Individual_ID"].duplicated(keep="first").loc[30:35]

30    False
31    False
32    False
33    False
34    False
35    False
Name: Individual_ID, dtype: bool

In [34]:
df_adelie.loc[:, "Individual_ID"].duplicated(keep="last").loc[30:35]

30    True
31    True
32    True
33    True
34    True
35    True
Name: Individual_ID, dtype: bool

In [35]:
df_adelie.loc[
    df_adelie.loc[:, "Individual_ID"].duplicated(keep=False)
].sort_values(by="Individual_ID").shape

(40, 11)

In [10]:
df_adelie.loc[
    df_adelie.loc[:, "Individual_ID"].duplicated(keep=False)
].sort_values(by="Individual_ID").head()

,Species,Island,Individual_ID,Date_Egg,Culmen_Length,Culmen_Depth,Flipper_Length,Body_Mass,Sex,Comments,Species_Short
30,Adelie Penguin (Pygoscelis adeliae),Dream,N21A1,2007-11-09,39.5,16.7,178.0,3250.0,FEMALE,None,Adelie
50,Adelie Penguin (Pygoscelis adeliae),Biscoe,N21A1,2008-11-06,39.6,17.7,186.0,3500.0,FEMALE,None,Adelie
51,Adelie Penguin (Pygoscelis adeliae),Biscoe,N21A2,2008-11-06,40.1,18.9,188.0,4300.0,MALE,None,Adelie
31,Adelie Penguin (Pygoscelis adeliae),Dream,N21A2,2007-11-09,37.2,18.1,178.0,3900.0,MALE,None,Adelie
32,Adelie Penguin (Pygoscelis adeliae),Dream,N22A1,2007-11-09,39.5,17.8,188.0,3300.0,FEMALE,None,Adelie

In [38]:
# 重複排除 (列全体)
df_adelie_duplicated = pd.concat(
    [df_adelie, df_adelie],
)
print(f"duplicate: {df_adelie_duplicated.shape}")
print(f"droped:    {df_adelie_duplicated.drop_duplicates().shape}")

duplicate: (304, 11)
droped:    (152, 11)

In [42]:
# 重複排除 (列指定)
df_adelie.drop_duplicates(subset=["Individual_ID"], keep="first").loc[30:40]

,Species,Island,Individual_ID,Date_Egg,Culmen_Length,Culmen_Depth,Flipper_Length,Body_Mass,Sex,Comments,Species_Short
30,Adelie Penguin (Pygoscelis adeliae),Dream,N21A1,2007-11-09,39.5,16.7,178.0,3250.0,FEMALE,None,Adelie
31,Adelie Penguin (Pygoscelis adeliae),Dream,N21A2,2007-11-09,37.2,18.1,178.0,3900.0,MALE,None,Adelie
32,Adelie Penguin (Pygoscelis adeliae),Dream,N22A1,2007-11-09,39.5,17.8,188.0,3300.0,FEMALE,None,Adelie
33,Adelie Penguin (Pygoscelis adeliae),Dream,N22A2,2007-11-09,40.9,18.9,184.0,3900.0,MALE,None,Adelie
34,Adelie Penguin (Pygoscelis adeliae),Dream,N23A1,2007-11-16,36.4,17.0,195.0,3325.0,FEMALE,None,Adelie
35,Adelie Penguin (Pygoscelis adeliae),Dream,N23A2,2007-11-16,39.2,21.1,196.0,4150.0,MALE,None,Adelie
36,Adelie Penguin (Pygoscelis adeliae),Dream,N24A1,2007-11-16,38.8,20.0,190.0,3950.0,MALE,None,Adelie
37,Adelie Penguin (Pygoscelis adeliae),Dream,N24A2,2007-11-16,42.2,18.5,180.0,3550.0,FEMALE,None,Adelie
38,Adelie Penguin (Pygoscelis adeliae),Dream,N25A1,2007-11-13,37.6,19.3,181.0,3300.0,FEMALE,Nest never observed with full clutch.,Adelie
39,Adelie Penguin (Pygoscelis adeliae),Dream,N25A2,2007-11-13,39.8,19.1,184.0,4650.0,MALE,Nest never observed with full clutch. Not enou...,Adelie
40,Adelie Penguin (Pygoscelis adeliae),Dream,N26A1,2007-11-16,36.5,18.0,182.0,3150.0,FEMALE,None,Adelie

In [43]:
df_adelie.drop_duplicates(subset=["Individual_ID"], keep="last").loc[30:40]

,Species,Island,Individual_ID,Date_Egg,Culmen_Length,Culmen_Depth,Flipper_Length,Body_Mass,Sex,Comments,Species_Short
40,Adelie Penguin (Pygoscelis adeliae),Dream,N26A1,2007-11-16,36.5,18.0,182.0,3150.0,FEMALE,None,Adelie

In [44]:
df_adelie.drop_duplicates(subset=["Individual_ID"], keep="first").shape

(132, 11)

In [45]:
df_adelie.groupby("Individual_ID", observed=True)["Flipper_Length"].mean().shape

(132,)