## parquet形式とは
Apache Parquetプロジェクトで開発された、<m-b>表形式</m-b>のデータを効率よく扱うためのデータフォーマット。
高い<m-b>圧縮率</m-b>で扱うことができる。
pandasでは、<m-b>pyarrow</m-b>パッケージを組み合わせることで利用できる。

In [2]:
import pandas as pd

df = pd.read_csv(
    "../data/人口推計.csv",
    parse_dates=["時間軸（年月日現在）"],
    date_format="%Y年%m月",
    thousands=",",
)
df.head()

     表章項目   人口  概算値  全国 時間軸（年月日現在）  年齢5歳階級  /男女別    男女計     男     女
0  人口【万人】  総人口  概算値  全国 2021-12-01      総数   NaN  12547  6099  6448
1  人口【万人】  総人口  概算値  全国 2021-12-01    0～4歳   NaN    437   224   214
2  人口【万人】  総人口  概算値  全国 2021-12-01    5～9歳   NaN    503   258   245
3  人口【万人】  総人口  概算値  全国 2021-12-01  10～14歳   NaN    535   274   261
4  人口【万人】  総人口  概算値  全国 2021-12-01  15～19歳   NaN    559   287   272

In [7]:
df.to_parquet("../result/人口推計_2-11-2.parquet")
df_loaded = pd.read_parquet("../result/人口推計_2-11-2.parquet")
df_loaded.head()

     表章項目   人口  概算値  全国 時間軸（年月日現在）  年齢5歳階級  /男女別    男女計     男     女
0  人口【万人】  総人口  概算値  全国 2021-12-01      総数   NaN  12547  6099  6448
1  人口【万人】  総人口  概算値  全国 2021-12-01    0～4歳   NaN    437   224   214
2  人口【万人】  総人口  概算値  全国 2021-12-01    5～9歳   NaN    503   258   245
3  人口【万人】  総人口  概算値  全国 2021-12-01  10～14歳   NaN    535   274   261
4  人口【万人】  総人口  概算値  全国 2021-12-01  15～19歳   NaN    559   287   272

In [8]:
df_loaded.dtypes

表章項目                  object
人口                    object
概算値                   object
全国                    object
時間軸（年月日現在）    datetime64[ns]
年齢5歳階級                object
/男女別                 float64
男女計                    int64
男                      int64
女                      int64
dtype: object

In [9]:
df.equals(df_loaded)

True

In [10]:
import os

print(os.path.getsize("../result/人口推計_2-10-2.pickle"))
print(os.path.getsize("../result/人口推計_2-11-2.parquet"))

53032
17017