In [6]:
import pandas as pd

# excel読み込み
df = pd.read_excel(
    "../data/人口推計.xlsx",
    header=13,
    nrows=27,
)

df.head()

   年齢5歳階級 コード  年齢5歳階級 補助コード  年齢5歳階級  /男女別     男女計      男      女
0        1000           NaN      総数   NaN  12,547  6,099  6,448
1        1001           NaN    0～4歳   NaN     437    224    214
2        1002           NaN    5～9歳   NaN     503    258    245
3        1003           NaN  10～14歳   NaN     535    274    261
4        1004           NaN  15～19歳   NaN     559    287    272

In [7]:
# データの形状
df.shape

(27, 7)

In [8]:
# 欠損値
df.loc[:, "/男女別"].isna().all()

np.True_

In [13]:
# 欠損値
bool(df.loc[:, "/男女別"].notna().any())

False

In [15]:
# データ加工
cleaned_df = pd.concat(
    [
        df.loc[:, ["年齢5歳階級 コード", "年齢5歳階級"]],
        df.loc[:, ["男女計", "男", "女"]]
            .map(lambda e: e.replace(",", ""))
            .astype("int"),
    ],
    axis=1,
)
cleaned_df.head()

   年齢5歳階級 コード  年齢5歳階級    男女計     男     女
0        1000      総数  12547  6099  6448
1        1001    0～4歳    437   224   214
2        1002    5～9歳    503   258   245
3        1003  10～14歳    535   274   261
4        1004  15～19歳    559   287   272

In [16]:
# データ型
cleaned_df.dtypes

年齢5歳階級 コード     int64
年齢5歳階級        object
男女計            int64
男              int64
女              int64
dtype: object

In [17]:
# 列追加
processed_df = cleaned_df.assign(
    女性比率=cleaned_df.loc[:, "女"] / cleaned_df.loc[:, "男女計"],
)
processed_df.tail()

    年齢5歳階級 コード       年齢5歳階級   男女計     男     女      女性比率
22        2000    （再掲）15歳未満  1475   756   719  0.487458
23        1023   （再掲）15～64歳  7449  3771  3678  0.493758
24        1024    （再掲）65歳以上  3624  1573  2051  0.565949
25        1026  （再掲）うち75歳以上  1878   738  1140  0.607029
26        1027  （再掲）うち85歳以上   644   205   439  0.681677

In [21]:
import os

# ファイル出力
os.makedirs("../result", exist_ok=True)
processed_df.to_excel("../result/人口推計_2-2-4.xlsx")
read_df = pd.read_excel("../result/人口推計_2-2-4.xlsx")
read_df.head()

   Unnamed: 0  年齢5歳階級 コード  年齢5歳階級    男女計     男     女      女性比率
0           0        1000      総数  12547  6099  6448  0.513908
1           1        1001    0～4歳    437   224   214  0.489703
2           2        1002    5～9歳    503   258   245  0.487078
3           3        1003  10～14歳    535   274   261  0.487850
4           4        1004  15～19歳    559   287   272  0.486583

In [22]:
# openpyxlモジュール
import openpyxl

wb = openpyxl.load_workbook("../data/人口推計.xlsx")
sheet = wb.worksheets[0]
sheet["B1"].value

'人口推計 各月1日現在人口 概算値'

In [24]:
wb.worksheets

In [27]:
for row in sheet.iter_rows(min_row=14, max_row=20):
    for cell in row:
        print(cell.value, end=" ")
    print()

年齢5歳階級 コード 年齢5歳階級 補助コード 年齢5歳階級 /男女別 男女計 男 女
01000 None 総数 None 12,547 6,099 6,448
01001 None 0～4歳 None 437 224 214
01002 None 5～9歳 None 503 258 245
01003 None 10～14歳 None 535 274 261
01004 None 15～19歳 None 559 287 272
01005 None 20～24歳 None 626 320 306