In [2]:
import pandas as pd

pd.MultiIndex.from_tuples(
    (
        ("1年", "A組"),
        ("1年", "B組"),
        ("2年", "A組"),
        ("2年", "B組"),
    ),
    names=("学年", "クラス"),
)

MultiIndex([('1年', 'A組'),
            ('1年', 'B組'),
            ('2年', 'A組'),
            ('2年', 'B組')],
           names=['学年', 'クラス'])

In [4]:
ix = pd.MultiIndex.from_product(
    [
        ["1年", "2年", "3年"],
        ["A組", "B組", "C組"],
    ],
    names=["学年", "クラス"],
)
ix

MultiIndex([('1年', 'A組'),
            ('1年', 'B組'),
            ('1年', 'C組'),
            ('2年', 'A組'),
            ('2年', 'B組'),
            ('2年', 'C組'),
            ('3年', 'A組'),
            ('3年', 'B組'),
            ('3年', 'C組')],
           names=['学年', 'クラス'])

In [6]:
import numpy as np

rng = np.random.default_rng(1)
ser = pd.Series(rng.integers(0, 100, size=9), index=ix)
ser

学年  クラス
1年  A組     47
    B組     51
    C組     75
2年  A組     95
    B組      3
    C組     14
3年  A組     82
    B組     94
    C組     24
dtype: int64

In [7]:
pd.options.display.multi_sparse = False
ser

学年  クラス
1年  A組     47
1年  B組     51
1年  C組     75
2年  A組     95
2年  B組      3
2年  C組     14
3年  A組     82
3年  B組     94
3年  C組     24
dtype: int64

In [8]:
df = pd.DataFrame(
    {
        "国語": rng.integers(0, 100, size=9),
        "数学": rng.integers(0, 100, size=9),
    },
    index=ix,
)
df

        国語  数学
学年 クラス
1年 A組   31   8
1年 B組   86   2
1年 C組   42  86
2年 A組   27  75
2年 B組   82  83
2年 C組   25  53
3年 A組   40  81
3年 B組   64  32
3年 C組   54  45

In [9]:
ix.names

FrozenList(['学年', 'クラス'])

In [12]:
ix.dtypes

学年     object
クラス    object
dtype: object

In [14]:
ix.set_names(["grade", "class"])

MultiIndex([('1年', 'A組'),
            ('1年', 'B組'),
            ('1年', 'C組'),
            ('2年', 'A組'),
            ('2年', 'B組'),
            ('2年', 'C組'),
            ('3年', 'A組'),
            ('3年', 'B組'),
            ('3年', 'C組')],
           names=['grade', 'class'])

In [16]:
ix.get_level_values(0)

Index(['1年', '1年', '1年', '2年', '2年', '2年', '3年', '3年', '3年'], dtype='object', name='学年')

In [17]:
ix.get_level_values(1)

Index(['A組', 'B組', 'C組', 'A組', 'B組', 'C組', 'A組', 'B組', 'C組'], dtype='object', name='クラス')

In [18]:
ix.set_levels(["赤組", "青組", "白組"], level=1)

MultiIndex([('1年', '赤組'),
            ('1年', '青組'),
            ('1年', '白組'),
            ('2年', '赤組'),
            ('2年', '青組'),
            ('2年', '白組'),
            ('3年', '赤組'),
            ('3年', '青組'),
            ('3年', '白組')],
           names=['学年', 'クラス'])

In [19]:
ix.rename({"A組": "1組", "B組": "2組", "C組": "3組"})

MultiIndex([('1年', 'A組'),
            ('1年', 'B組'),
            ('1年', 'C組'),
            ('2年', 'A組'),
            ('2年', 'B組'),
            ('2年', 'C組'),
            ('3年', 'A組'),
            ('3年', 'B組'),
            ('3年', 'C組')],
           names=['学年', 'クラス'])

In [20]:
df.rename({"A組": "1組", "B組": "2組", "C組": "3組"})

        国語  数学
学年 クラス
1年 1組   31   8
1年 2組   86   2
1年 3組   42  86
2年 1組   27  75
2年 2組   82  83
2年 3組   25  53
3年 1組   40  81
3年 2組   64  32
3年 3組   54  45

In [21]:
df.rename_axis(index=["grade", "class"])

             国語  数学
grade class
1年    A組     31   8
1年    B組     86   2
1年    C組     42  86
2年    A組     27  75
2年    B組     82  83
2年    C組     25  53
3年    A組     40  81
3年    B組     64  32
3年    C組     54  45

In [23]:
# MultiIndexを持つオブジェクトへのアクセス
ser.loc["1年"]

クラス
A組    47
B組    51
C組    75
dtype: int64

In [24]:
ser.loc[:, "A組"]

学年
1年    47
2年    95
3年    82
dtype: int64

In [25]:
df.loc["1年"]

     国語  数学
クラス
A組   31   8
B組   86   2
C組   42  86

In [26]:
df.loc["1年", :]

     国語  数学
クラス
A組   31   8
B組   86   2
C組   42  86

In [ ]:
df.loc["1年", "B組"]

国語    86
数学     2
Name: (1年, B組), dtype: int64

In [28]:
ser.loc[("1年", "B組")]

np.int64(51)

In [55]:
df.loc[("3年", "C組")]

国語    54
数学    45
Name: (3年, C組), dtype: int64

In [56]:
df.loc[("3年", "C組"), :]

国語    54
数学    45
Name: (3年, C組), dtype: int64

In [33]:
df.loc[("3年", "C組"), "国語"]

np.int64(54)

In [34]:
df.loc["3年", "C組", "国語"]

IndexingError: Too many indexers

In [35]:
ser.loc["2年":]

学年  クラス
2年  A組     95
2年  B組      3
2年  C組     14
3年  A組     82
3年  B組     94
3年  C組     24
dtype: int64

In [37]:
ser.loc[:"2年", "B組":]

学年  クラス
1年  B組     51
1年  C組     75
2年  B組      3
2年  C組     14
dtype: int64

In [38]:
# 構文エラーとなる
ser.loc[(:, :)]

SyntaxError: invalid syntax (4259074818.py, line 2)

In [ ]:
# 回避策①
ser.loc[(slice(None), slice(None))]

学年  クラス
1年  A組     47
1年  B組     51
1年  C組     75
2年  A組     95
2年  B組      3
2年  C組     14
3年  A組     82
3年  B組     94
3年  C組     24
dtype: int64

In [ ]:
# 回避策②
ser.loc[
    (
        pd.IndexSlice[:],
        pd.IndexSlice[:],
    )
]

学年  クラス
1年  A組     47
1年  B組     51
1年  C組     75
2年  A組     95
2年  B組      3
2年  C組     14
3年  A組     82
3年  B組     94
3年  C組     24
dtype: int64

In [46]:
# IndexSliceクラスにboolインデックスを渡す
df.loc[
    (
        "3年",
        pd.IndexSlice[df.loc[:, "国語"] > 50],
    ),
    :,
]

        国語  数学
学年 クラス
3年 B組   64  32
3年 C組   54  45

In [47]:
df.loc[
    (
        "3年",
        pd.IndexSlice[df.loc[:, "国語"] > 50],
    ),
    "B組",
]

KeyError: 'B組'

In [49]:
df.loc[
    (
        "3年",
        pd.IndexSlice[df.loc[:, "国語"] > 50],
    ),
    "数学",
]

学年  クラス
3年  B組     32
3年  C組     45
Name: 数学, dtype: int64

In [50]:
df.loc[:, "B組"]

KeyError: 'B組'

In [51]:
df.loc(axis=0)

In [52]:
df.loc(axis=0)[:, "B組"]

        国語  数学
学年 クラス
1年 B組   86   2
2年 B組   82  83
3年 B組   64  32

In [57]:
df.loc[(:, "C組"), :]

SyntaxError: invalid syntax (3044398352.py, line 1)

In [60]:
df.loc[(slice(None), "C組"), :]

        国語  数学
学年 クラス
1年 C組   42  86
2年 C組   25  53
3年 C組   54  45

In [64]:
# MultiIndexへアクセス
df.xs("1年")

     国語  数学
クラス
A組   31   8
B組   86   2
C組   42  86

In [69]:
df.xs("3年", level="学年")

     国語  数学
クラス
A組   40  81
B組   64  32
C組   54  45

In [68]:
df.xs("B組", level="クラス")

    国語  数学
学年
1年  86   2
2年  82  83
3年  64  32

In [81]:
df.xs("B組", level="クラス", drop_level=False)

        国語  数学
学年 クラス
1年 B組   86   2
2年 B組   82  83
3年 B組   64  32

In [76]:
df.xs(
    ("2年", "B組"),
)

国語    82
数学    83
Name: (2年, B組), dtype: int64

In [75]:
df.xs(
    ("2年", "B組"),
    level=("学年", "クラス"),
    axis=0,
)

        国語  数学
学年 クラス
2年 B組   82  83

In [82]:
# MultiIndexのグルーピングとアライメント
group_by_mean = df.groupby("学年").mean()
group_by_mean

           国語         数学
学年
1年  53.000000  32.000000
2年  44.666667  70.333333
3年  52.666667  52.666667

In [85]:
group_by_mean.reindex(ix)

        国語  数学
学年 クラス
1年 A組  NaN NaN
1年 B組  NaN NaN
1年 C組  NaN NaN
2年 A組  NaN NaN
2年 B組  NaN NaN
2年 C組  NaN NaN
3年 A組  NaN NaN
3年 B組  NaN NaN
3年 C組  NaN NaN

In [86]:
group_by_mean.reindex(ix, level="学年")

               国語         数学
学年 クラス
1年 A組   53.000000  32.000000
1年 B組   53.000000  32.000000
1年 C組   53.000000  32.000000
2年 A組   44.666667  70.333333
2年 B組   44.666667  70.333333
2年 C組   44.666667  70.333333
3年 A組   52.666667  52.666667
3年 B組   52.666667  52.666667
3年 C組   52.666667  52.666667

In [89]:
align1, align2 = df.align(group_by_mean, level="学年")
align1

        国語  数学
学年 クラス
1年 A組   31   8
1年 B組   86   2
1年 C組   42  86
2年 A組   27  75
2年 B組   82  83
2年 C組   25  53
3年 A組   40  81
3年 B組   64  32
3年 C組   54  45

In [90]:
align2

               国語         数学
学年 クラス
1年 A組   53.000000  32.000000
1年 B組   53.000000  32.000000
1年 C組   53.000000  32.000000
2年 A組   44.666667  70.333333
2年 B組   44.666667  70.333333
2年 C組   44.666667  70.333333
3年 A組   52.666667  52.666667
3年 B組   52.666667  52.666667
3年 C組   52.666667  52.666667

In [92]:
# 階層の変更
df.swaplevel("学年", "クラス")

        国語  数学
クラス 学年
A組  1年  31   8
B組  1年  86   2
C組  1年  42  86
A組  2年  27  75
B組  2年  82  83
C組  2年  25  53
A組  3年  40  81
B組  3年  64  32
C組  3年  54  45

In [100]:
school = pd.Series(
    [3, 1, 2],
    index=pd.MultiIndex.from_tuples(
        [
            ["小学校", "2年", "3組"],
            ["中学校", "3年", "1組"],
            ["高校", "1年", "2組"],
        ],
        names=["学校", "学年", "学級"],
    )
)
school

学校   学年  学級
小学校  2年  3組    3
中学校  3年  1組    1
高校   1年  2組    2
dtype: int64

In [101]:
school.reorder_levels(["学年", "学級", "学校"])

学年  学級  学校
2年  3組  小学校    3
3年  1組  中学校    1
1年  2組  高校     2
dtype: int64

In [102]:
# ソート
school.sort_values()

学校   学年  学級
中学校  3年  1組    1
高校   1年  2組    2
小学校  2年  3組    3
dtype: int64

In [103]:
school.sort_index()

学校   学年  学級
中学校  3年  1組    1
小学校  2年  3組    3
高校   1年  2組    2
dtype: int64

In [104]:
school.sort_index(level=1)

学校   学年  学級
高校   1年  2組    2
小学校  2年  3組    3
中学校  3年  1組    1
dtype: int64

In [105]:
school.sort_index(level=2)

学校   学年  学級
中学校  3年  1組    1
高校   1年  2組    2
小学校  2年  3組    3
dtype: int64